body{
    font-size: 13px;
}


.tabs { 
    /*переключалки и их наполнение*/
    width: 100%;
    padding: 0px;
    color: #353535;
    
}

.tabs>input {
    display: none;
}

.tabs>div {
    /*наполнение переключалок*/
    display: none;
    padding: 12px;
    border: 1px solid #C0C0C0;
    background: #dfdfdf;
}

.tabs>label { 
    /*заголовки переключалок*/
    display: inline-block;
    padding: 10px;
    margin: 0 -5px -1px 0;
    text-align: center;
    color: #494949;
    border: 1px solid #C0C0C0;
    background: #ececec;
    cursor: pointer;
    border-radius: 10px 10px 0 0 ;
}

.tabs>input:checked+label {
    /*заголовок переключалки при нажатии*/
    color: #494949;
    border: 1px solid #C0C0C0;
    border-bottom: 1px solid #FFFFFF;
    background: #FFFFFF;
    font-weight: 600;
    
}

#tab_1:checked~#txt_1,
#tab_2:checked~#txt_2{
    display: block;
}

button{
    /*кнопки применить и ок*/
    width: 90px;
    height: 23px;
    float: right;
    margin: 10px;
    border-radius: 2px;
    border: 1px solid #9e9e9e;
    font-size: 12px;
    background: #d4d4d4;
}

.hr-line {
    /*разделитель*/
	margin: 20px 0;
	padding: 0;
    width:300px;
	height: 10px;
	border: none;
	border-top: 1px solid rgb(156, 156, 156);

}

img.fig{
    /*картинка*/
    float: right;
    height: 150px;
    width: 200px;
}

table{
    /*таблица*/
    width: 100%;
}

